<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="authService.isAuthenticated()">
  <div class="container">
    <a class="navbar-brand" href="/">Ecommerce App</a>
    
    <div class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/profile">Profile</a>
      <a class="nav-link" *ngIf="authService.hasRole(UserRole['VENDOR'])" routerLink="/vendor">Vendor Dashboard</a>
      <a class="nav-link" *ngIf="authService.hasRole(UserRole['ADMIN'])" routerLink="/admin">Admin Dashboard</a>
      <a class="nav-link" routerLink="/login" (click)="logout(); $event.preventDefault()">Logout</a>
    </div>
  </div>
</nav> -->
<div>
  <router-outlet></router-outlet>
</div>